{% extends "layout.html" %}
{% set title="Bourbon, Neat, Bitters & Nunjucks starter" %}

{% block content %}

	{% include 'partials/header.html' %}

	<p>
		Your using gulp with <a href="http://sass-lang.com/">Sass</a>,
		<a href="https://github.com/thoughtbot/bourbon">Bourbon</a>, <a href="https://github.com/thoughtbot/neat">Neat</a>, <a href="https://github.com/thoughtbot/bitters">Bitters</a> and <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>. You're such a pro 😘.
	</p>

{% endblock %}